<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Fayiduh Login </title>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/login/assets/css/login.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>    كتابة  كلمة المرور الجديدة</header>
                    <br>
                    {% for message in get_flashed_messages() %}

                    <div style="background-color: red;" role="alert" id="flash-message">
                      {{ message }}
                    </div>
                    
                    <script>
                      setTimeout(function() {
                        var flashMessage = document.getElementById('flash-message');
                        flashMessage.parentNode.removeChild(flashMessage);
                      }, 5000); // 5000 milliseconds = 5 seconds
                    </script>
                    
                    {% endfor %}



                    <form action="/reset_password?token={{ token }}" method="post">
                        <div class="field input-field">
                            <input type="password" name="password" placeholder="كلمة المرور الجديدة  " class="input">
                        </div>




                        <div class="field button-field">
                            <button value="submit" style="color: #fff;">اعادة تعيين </button>
                        </div>
                    </form>

                </div>


                

            </div>

            <!-- Signup Form -->
        </section>

    </body>
</html>